litellm~=1.83.10
pydantic~=2.12.5
pydantic-pick~=0.2.0
python-dotenv~=1.2.1
pyyaml~=6.0.3
rich>=13.0.0
zendriver~=0.15.2
mss~=10.1.0
numpy~=2.4.0
imageio-ffmpeg~=0.6.0
requests~=2.32.5
curl_cffi~=0.15.1b1
beautifulsoup4~=4.14.3
magika~=1.0.1
ipython~=9.10.0
